

@{
    ViewBag.Title = "Trang chủ NPL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-content">
    <div class="row justify-content-center">
        <div class="span12">
            <br />
            <h4 class="title">
                <span class="pull-left"><span class="text"><span class="line">CÁC MÓN <strong>MỚI</strong></span></span></span>
            </h4>

            <div id="myCarousel" class="myCarousel carousel slide">
                <div class="carousel-inner">
                    <div class="active item">
                        <ul class="thumbnails" style="list-style-type:none">
                            @foreach (var monan in Model)
                            {
                                <li class="span3">
                                    <div class="product-box">
                                        <a href="@Url.Action("Details", "Home", new { id = monan.IDMonAn })">
                                            <img alt="@monan.TenMonAn" src="~/Images/MonAn/@monan.HinhAnh" style="width:270px; height:200px" />
                                            <div>
                                                <br />
                                                <h4 style="text-align:center">
                                                    @monan.TenMonAn
                                                </h4>
                                                <p></p>
                                            </div>
                                        </a>
                                    </div>
                                    <br />
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="span12">
            <h4 class="title">
                <span class="pull-left"><span class="text"><span class="line">TIN <strong>MỚI</strong></span></span></span>
            </h4>
            <div>
                <iframe width="100%" height="100%" frameborder="0" class="rssdog" src="https://www.rssdog.com/index.php?url=http%3A%2F%2Fwww.doivi.net%2Frss%2Ftin%2Fmon-an-tot-cho-suc-khoe%2F&mode=html&showonly=&maxitems=1&showdescs=3&desctrim=0&descmax=3&tabwidth=100%10&linktarget=_blank&textsize=inherit&bordercol=%23d4d0c8&headbgcol=%23999999&headtxtcol=%23ffffff&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
            </div>
        </div>
    </div>
</section>
