body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}



#logo {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
}

#banner {
    padding: 0;
    float: right;
    width: 100%;
    height: 100%;
}

.img-header {
    height:100%;
    width:100%;
}

#header {
    height:20vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #header {
        height:8vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #header {
        height: 10vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #header {
        height: 12vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #header {
        height: 20vh;
    }
}

@media only screen and (min-width: 1200px) {
    #navbar-padding {
        padding-left: 30px;
    }
}











/*Admin*/
th {
    text-align:center;
}

tbody td {
    vertical-align:middle !important;
}

.btn-create {
    margin-left:1vw;
}

.admin-header {
    text-align:center;
}

input {
    max-width: 100% !important;
}

.table-detail th, .table-detail td {
    border: none;
}

.table-detail-end-td {
    border-top: 1px solid #dee2e6 !important;
    text-align: right;
}

.container-alert {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.alert-custom {
    position: relative;
    z-index: 1050;
    margin: 10vh auto;
    max-width: 800px;
}