
@{
    ViewBag.Title = "Đăng ký thành viên";
    Layout = null;@* "~/Views/Shared/_Layout.cshtml";*@
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/shared/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="~/Content/shared/bootstrappage.css" rel="stylesheet" />
<link href="~/Content/shared/main.css" rel="stylesheet" />
<link href="~/Content/shared/flexslider.css" rel="stylesheet" />
<script src="~/Scripts/shared/jquery-1.7.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/shared/superfish.js"></script>
<script src="~/Scripts/shared/jquery.scrolltotop.js"></script>

<section class="main-content">
    <div class=" row justify-content-center">
        <div class="span4">
            <h4 class="title"><span class="text"><strong>ĐĂNG KÝ</strong> THÀNH VIÊN</span></h4>
            <form action="#" method="post" class="form-stacked">
                <fieldset>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Tên đăng nhập:</label>
                        <div class="controls">
                            <input type="text" name="TenDangNhap" class="form-control form-control-static" required autofocus>                           
                        </div>
                    </div>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Mật khẩu:</label>
                        <div class="controls">
                            <input type="password" name="MatKhau" class="form-control form-control-static" required>
                           
                        </div>
                    </div>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Nhập lại mật khẩu:</label>
                        <div class="controls">
                            <input type="password" name="NhapLaiMatKhau" class="form-control form-control-static" required>     
                            <h6 style="color:red; font-size:13px">
                                <td>
                                    @ViewData["Loi1"]
                                </td>
                            </h6>
                        </div>
                    </div>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Họ tên:</label>
                        <div class="controls">
                            <input type="text" name="HoTen" class="form-control form-control-static" required>                          
                        </div>
                    </div>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Giới tính:</label>
                        <select name="GioiTinh"  class="form-control form-control-static" required>
                            <option value="0">Nam</option>
                            <option value="1">Nữ</option>
                        </select>
                    </div>
                    <div class="control-group" style="margin-bottom:17px">
                        <label class="control-label">Email:</label>
                        <div class="controls">
                            <input type="email" name="Email" class="form-control form-control-static" required>               
                        </div>
                    </div>
                    <hr>
                    <div class="actions"><input tabindex="6" class="btn btn-outline-info btn-block btn-lg" type="submit" value="Đăng ký"></div>
                </fieldset>
            </form>
        </div>
    </div>
</section>

