@model NPL.Models.TaiKhoan

@if (Session["Username"] == null)
{
    
    <ul style="list-style-type:none">
        <li><a href="@Url.Action("DangNhap", "NguoiDung")">Đăng nhập|@Html.ActionLink("Đăng ký","DangKy","NguoiDung")</a></li>     
    </ul>
}
else
{
<a>Chào @Model.HoTen|@Html.ActionLink("Thoát", "DangXuat")</a>
}
